header{
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  height: 69px;
  width: 100%;
  display: flex;
  font-family: Helvetica;
  font-size: 22px;
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo{
  height: 50px;
  padding-left: 10px;
  display: flex;
}
.nav_content{
  display: inline-block;
 padding-right: 20px;
color: seashell;
flex-grow: 1;
text-align: right;
}

.mission{
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  width: 1200px;
  margin: auto;
  height: 700px;
  font-family: Helvetica;
  color: seashell;
  padding-top: 70px;

}
.content{
  margin: auto;
  background-color: black;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.month{
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.image_boxes{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    width: 1000px;
    margin: auto;


}
.image_boxes .box{
  justify-content: center;
  display: block;
  padding: 5px;
}
.box img{
  width: 300px;
  height: 200px;
  padding: 10px;
}

.Locations{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  justify-content: center;
  margin: auto;
}
.Locations .Loc{
  display: inline-block;
  background-color: black;
  width: 300px;
  margin: 15px 20px;
}
.Loc h4{
  opacity: 1;
}
.Locations h2{
  padding-top: 20px
}

h2{
  display: block;
}
h4{
  display: block;
}
body{
  text-align: center;
  background-color: black;
  font-size: 22px;
  font-family: Helvetica;
  color: seashell;
}
